<div class="container">
    <div class="row border-bottom">
        <div class="col-lg-7 d-flex justify-content-start">
            <h1 class="h2">SR Management</h1>
        </div>
        <div class="col-lg-5 d-flex justify-content-center">
            <div class="mb-2">
                <a type="button" class="btn btn-outline-secondary" routerLink="/home/srManage/createSr">Add SR</a>
                <a type="button" class="btn btn-outline-secondary" routerLink="/home/srManage/">SR List</a>
                <!-- <a type="button" class="btn btn-outline-secondary" routerLink="/home/userManage/editUser">Edit User</a>
                <a type="button" class="btn btn-outline-secondary" routerLink="/home/userManage/">Delete User</a> -->
            </div>
        </div>
    </div>    
</div>
<router-outlet></router-outlet>

