<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-md navbar-dark bg-secondary fixed-top">
                <a class="navbar-brand" href="#">CRM Tool</a>
                <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
                    data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown" ngbDropdown>
                            <a class="nav-link dropdown-toggle" id="id01" ngbDropdownToggle>Services</a>
                            <div class="dropdown-menu" aria-labelledby="id01" ngbDropdownMenu>
                                <a class="dropdown-item" routerLink="/home">DashBoard</a>
                                <a class="dropdown-item" routerLink="/home/userManage">User Management</a>
                                <a class="dropdown-item" href="#">Contact Management</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <ul class="navbar-nav px-1">
                    <li class="nav-item text-nowrap">
                        <a class="nav-link" href="#">Sign out</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>