<div class="card-deck">
    <div class="card">
        <h4 class="pt-1 pl-1">SR List</h4>
        <div class="">
            <div class="container-fluid pt-2">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#id</th>
                            <th scope="col">SR Subject</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let data of srList">
                        <tr>
                            <td>{{data.srId}}</td>
                            <td>{{data.sub}}</td>
                            <td>{{data.status}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="card">

        <h4 class="pt-1 pl-1">Lead List</h4>
        <div class="">

            <div class="container-fluid pt-2">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#id</th>
                            <th scope="col">Lead Description</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let data of leadList">
                        <tr>
                            <td>{{data.leadId}}</td>
                            <td>{{data.description}}</td>
                            <td>{{data.status}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="card">

        <h4 class="pt-1 pl-1">Contact List</h4>
        <div class="">

            <div class="container-fluid pt-2">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#id</th>
                            <th scope="col">Name</th>
                            <th scope="col">email</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let data of contactList">
                        <tr>
                            <td>{{data.contId}}</td>
                            <td>{{data.firstName}}</td>
                            <td>{{data.email}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>